In [185]:
#Zadanie 1:

import numpy as np
import pandas as pd

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog',
        'dog'],
        'name': ['Daisy', 'Bella', 'Noodle', 'Charlie', 'Max', 'Molly', 'Draco', 'Kenzo',
        'Milo', 'Cooper'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

animals = pd.DataFrame(data, index = labels)
print(animals)
animals.info()

  animal     name  age  visits priority
a    cat    Daisy  2.5       1      yes
b    cat    Bella  3.0       3      yes
c  snake   Noodle  0.5       2       no
d    dog  Charlie  NaN       3      yes
e    dog      Max  5.0       2       no
f    cat    Molly  2.0       3       no
g  snake    Draco  4.5       1       no
h    cat    Kenzo  NaN       1      yes
i    dog     Milo  7.0       2       no
j    dog   Cooper  3.0       1       no
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   name      10 non-null     object
 2   age       8 non-null      float64
 3   visits    10 non-null     int64
 4   priority  10 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 480.0+ bytes

In [181]:
#Zadanie 2: 

#a) pierwsze 3 wiersze
print(animals[0:3])

#b) kolumny 'animal' i 'age'
print(animals['animal'])
print(animals['age'])

#c) dane z wierszy 3, 4 i 8, zawarte w kolumnach 'visits' i 'priority'
print(animals.loc[['d', 'e', 'i'], ['visits', 'priority']])

#d) wiersze, w których liczba wizyt jest większa niż 2,
mask = animals['visits'] > 2
print(animals[mask])

#e) wiersze, w których zwierzęciem jest kot i ma mniej niż 4 lata
mask = animals['animal'] = 'cat' and animals['age'] < 4
print(animals[mask])

#f) wiersze, w których wiek zwierzęcia mieści się w przedziale od 2 do 4 lat (włącznie).
mask = (animals['age'] >= 2) & (animals['age'] <= 4)
print(animals[mask])

  animal    name  age  visits priority
a    cat   Daisy  2.5       1      yes
b    cat   Bella  3.0       3      yes
c  snake  Noodle  0.5       2       no
a      cat
b      cat
c    snake
d      dog
e      dog
f      cat
g    snake
h      cat
i      dog
j      dog
Name: animal, dtype: object
a    2.5
b    3.0
c    0.5
d    NaN
e    5.0
f    2.0
g    4.5
h    NaN
i    7.0
j    3.0
Name: age, dtype: float64
   visits priority
d       3      yes
e       2       no
i       2       no
  animal     name  age  visits priority
b    cat    Bella  3.0       3      yes
d    dog  Charlie  NaN       3      yes
f    cat    Molly  2.0       3       no
   animal    name  age  visits priority
a    True   Daisy  2.5       1      yes
b    True   Bella  3.0       3      yes
c    True  Noodle  0.5       2       no
f    True   Molly  2.0       3       no
j    True  Cooper  3.0       1       no
   animal    name  age  visits priority
a    True   Daisy  2.5       1      yes
b    True   Bella  3.0       3      yes
f    True   Molly  2.0       3       no
j    True  Cooper  3.0       1       no
  species     name  age  visits  price  total
a    True    Daisy  2.5       1     20     20
b    True    Bella  3.0       3     20     60
c    True   Noodle  0.5       2     10     20
d   False  Charlie  NaN       3     20     60
e   False      Max  5.0       2     10     20
f    True    Molly  2.0       3     10     30
g   False    Draco  4.5       1     10     10
h   False    Kenzo  NaN       1     20     20
i   False     Milo  7.0       2     10     20
j    True   Cooper  3.0       1     10     10
k     dog    Buddy  5.5       2     10     20

In [187]:
#Zadanie 3:
#a) dodaj do niej wiersz o indeksie 'k', zawierający informacje o nowym zwierzęciu – psie, wabiącym 
#się Buddy, w wieku 5.5 roku, któy odwiedził gabinet 2 razy w zwykłym trybie

animals.loc['k'] = {'animal': 'dog',
        'name': 'Buddy',
        'age': 5.5,
        'visits': 2,
        'priority': 'no'}

#b) dodaj do niej kolumnę 'price', zawierającą wartość 10 dla pacjentów zwykłych i 20 dla pacjentów priorytetowych
animals['price'] = np.where(animals['priority'] == 'yes', 20, 10)


#c) dodaj do niej kolumnę 'total', zawierajacą całkowity koszt wszystkich wizyt,
animals['total'] = animals['visits'] * animals['price']


#d) usuń z niej kolumnę 'priority'
animals.drop('priority', axis=1, inplace=True)

#e) zmień nazwę kolumny 'animal' na 'species',
animals = animals.rename(columns = {'animal' : 'species'})
print(animals)

  species     name  age  visits  price  total
a     cat    Daisy  2.5       1     20     20
b     cat    Bella  3.0       3     20     60
c   snake   Noodle  0.5       2     10     20
d     dog  Charlie  NaN       3     20     60
e     dog      Max  5.0       2     10     20
f     cat    Molly  2.0       3     10     30
g   snake    Draco  4.5       1     10     10
h     cat    Kenzo  NaN       1     20     20
i     dog     Milo  7.0       2     10     20
j     dog   Cooper  3.0       1     10     10
k     dog    Buddy  5.5       2     10     20

In [ ]:
#Zadanie 4
#a) przywróć ramce danych domyślny indeks całkowity, sprawiając jednocześnie, by nie została dodana
#nowa kolumna z wcześniejszymi wartościami indeksu
animals.reset_index(drop=True)
print(animals)